<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <div class="container">
    <table style="border: 1px solid black;">
      <thead>
        <th>Name</th>
        <th>Artist</th>
      </thead>
      <tbody>
        <tr
          style="cursor: pointer;"
          *ngFor="let song of getFiles(); index as i"
          (click)="openFile(song, i)"
        >
          <td>{{ song.name }}</td>
          <td>{{ song.artist }}</td>
        </tr>
      </tbody>
    </table>
    <button (click)="play()">Play</button>
    <button (click)="pause()">Pause</button>
    <ng-container *ngIf="currentFile && currentFile?.file.type == 'video'">
      <video
        #myVideo
        [src]="currentFile.file.url"
        (loadedmetadata)="loadedVideo($event)"
      ></video>
    </ng-container>
    <ng-container *ngIf="state?.duration">
      <div>
        {{ currentFile?.timerCurrentTime }} /
        {{ currentFile.timerDuration }}
      </div>
      <input
        (change)="onSliderChange($event)"
        [(ngModel)]="currentFile.currentTime"
        (ngModelChange)="rangeChanged($event)"
        type="range"
        name="slider"
        id="media-slider"
        [max]="currentFile.duration"
        min="0"
        step="1"
      />
    </ng-container>
  </div>
  <!-- <router-outlet></router-outlet> -->
</div>
